
/* ========== 768  ========== */

@media screen and (max-width:768px){
    .wrapper {
        width: 90vw;
    }

    .main-hero {
        min-height: 50vh;
    }

    #know-link {
        color: var(--bela);
    }

    .logo-img-main {
        width: 18rem;
        margin: 4rem auto;
    }

    .linkovi{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }

    .dev-link, .design-link, .mobile-link, .support-link{
        display: inline-block;
        padding: 20px; 
        text-align: center;
    }

    .linkz {
        width: 50px;
    }

    .triangle {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 2rem 3rem; 
    }

    .footer-logo img {
        width: 8rem;
        padding: 1rem;
    }

    .footer-logo {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .generalije {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }

    .hero-image1,
    .hero-image2, 
    .hero-image3, 
    .hero-image4 {
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

/* ========== 768-1021  ========== */

@media screen and (min-width:768px) and (max-width:1021px){
    .wrapper {
        width: 80vw;
    }

    .main-hero, .hero-image1 {
        min-height: 50vh;
    }

    #know-link {
        color: var(--bela);
    }

    .linkovi{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-self: center;
    }

    .dev-link, .design-link, .mobile-link, .support-link{
        display: inline-block;
        padding: 20px; 
        text-align: center;
    }

    .linkz {
        width: 50px;
    }

    .hero-image1,
    .hero-image2, 
    .hero-image3, 
    .hero-image4 {
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .triangle {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 2rem 3rem; 
    }

    .footer {

    }
    .generalije {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }

     .footer-logo img {
        width: 40%;
        padding: 2rem;
    }

    .footer-logo {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
}

/* ========== 1021-1279  ========== */

@media screen and (min-width:1024px) and (max-width:1279px) {

    .logo-img-main {
        width: 18rem;
        margin: 6rem auto;
    }

    .hero-image1,
    .hero-image2, 
    .hero-image3, 
    .hero-image4 {
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .linkovi{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: 20vh;
    }

    .linkz {
        width: 5rem;
    }

    .dev-link, .design-link, .mobile-link, .support-link{
        display: inline;
        padding: 2rem; 
        text-align: center;
    }
}

/* ========== 1280  ========== */

@media screen and (min-width:1280px){
    
    body {
        font-size: 16px;
    }
    
    .main-logo {
        margin-top: 20%;
    }


    #know-link {
        color: var(--siva);
    }

    .section-half {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .linkovi{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: 20vh;
    }

    .linkz {
        width: 5rem;
    }

    .dev-link, .design-link, .mobile-link, .support-link{
        display: inline;
        padding: 2rem; 
        text-align: center;
    }

    .hero-image1,
    .hero-image2, 
    .hero-image3, 
    .hero-image4 {
        min-height: 80vh;
    }
}
